<%- include('./header')%>
<%- include('./navbar')%>



<aside class="main-sidebar sidebar-dark-primary elevation-4">

  

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
     
    </div>
    <div class="info">
      <a href="#" class="d-block">Alexander Pierce</a>
    </div>
  </div>

  <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div>


  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
     
      <li class="nav-item">
        <a href="createUser" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            CReate User
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="../tables/simple.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Simple Tables</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../tables/data.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>DataTables</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../tables/jsgrid.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>jsGrid</p>
            </a>
          </li>
        </ul>
      </li>
      
      <li class="nav-header">EXAMPLES</li>
     <li class="nav-item">
        <a href="/home" class="nav-link">
          <i class="nav-icon far fa-calendar-alt"></i>
          <p>
            show users
            <span class="badge badge-info right">2</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/create_task" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            create Task
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/showTask" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            VIew Task
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            logout
          </p>
        </a>
      </li>
      <li style="min-height: 352px; max-height:10000px" class="nav-item">
      
      </li>
      
   
    </ul>
  </nav>

</div>

</aside>

<%- include('./footer')%>

